<section>
	<div class="container">
		<div class="row">
			<h1 class="text-xs-center"><%= @step.task.taskable.title %></h1>
			<div id="side-menu" class="col col-xs-12 col-lg-3">
				<div id="accordion" role="tablist" aria-multiselectable="true">
				  <% @project.tasks.each do |task| %>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="header-task-1">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#task-<%= task.id %>" aria-expanded="true" aria-controls="task-<%= task.id %>">
					          <%= task.title %>
					        </a>
					      </h4>
					    </div>
					    <div id="task-<%= task.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="header-task-<%= task.id %>">
					    	<div class="list-group">
					    	  <% task.steps.order("step_order ASC").each do |step| %>
					    	  	<%= link_to free_project_step_path(@project, step), class: "list-group-item" do %>
					    	  		<%= truncate(step.title, length: 32) %> <span class="tag tag-default pull-xs-right"><%= step.video_duration %></span>
					    	  	<% end %>
					    	  <% end %>
							</div>
					    </div>
					  </div>
				  <% end %>
				</div>
			</div>

			<div id="video-container" class="col col-sm-12 col-lg-9">
				<h2 class="text-xs-center"><%= @step.task.title %></h2>
				<h3 class="text-xs-center"><%= @step.title %></h3>
				<% unless @step.video_url.blank? %>
					<iframe width="1100" height="500" src="<%= @step.video_url%>&output=embed" frameborder="0" allowfullscreen></iframe>
				<% else %>
					<img class="img-fluid" src="http://placehold.it/1100x500"/>
				<% end %>
				<div class="row">
					<div class="col col-sm-6">
						<% if @previous_step %>
							<%= link_to "Vidéo précédente", free_project_step_path(@project, @previous_step), class: "btn btn-lg btn-outline-success pull-xs-left" %>
						<% end %>
					</div>
					<div class="col col-sm-6">
						<% if @next_step %>
							<%= link_to "Vidéo suivante", free_project_step_path(@project, @next_step), class: "btn btn-lg btn-outline-success pull-xs-right" %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col col-sm-12">
						<%= markdown(@step.explanations) if @step.explanations != nil %>
					</div>
				</div>
				<div class="row">
					<div class="col col-sm-12">
						<div id="disqus_thread"></div>
						<script>
						var disqus_config = function () {
						    this.page.url = <%= request.domain %>;  // Replace PAGE_URL with your page's canonical URL variable
						    this.page.identifier = <%= @step.friendly_id %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};

						(function() { // DON'T EDIT BELOW THIS LINE
						    var d = document, s = d.createElement('script');
						    s.src = '//codentrepreneur.disqus.com/embed.js';
						    s.setAttribute('data-timestamp', +new Date());
						    (d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>