<% if @project.is_a? FreeProject %>
	<%= form_for([@project, @rating], url: free_project_ratings_path(@project, @rating)) do |f| %>
		<div class="form-group">
			<%= f.label :comment, "Aidez la communauté en donnant votre avis" %>
			<%= f.select :note, options_for_select((1..5).map { |i| ["#{i}", i]}, 5), {}, id: "rating-stars" %>
			<%= f.text_area :comment, class: "form-control" %>
		</div>
		<%= f.submit "Donner mon avis", class: "btn btn-outline-success" %>
	<% end %>
<% elsif @project.is_a? PaidProject %>
	<%= form_for([@project, @rating], url: paid_project_ratings_path(@project, @rating)) do |f| %>
		<div class="form-group">
			<%= f.label :comment, "Aidez la communauté en donnant votre avis" %>
			<%= f.select :note, options_for_select((1..5).map { |i| ["#{i}", i]}, 5), {}, id: "rating-stars" %>
			<%= f.text_area :comment, class: "form-control" %>
		</div>
		<%= f.submit "Donner mon avis", class: "btn btn-outline-success" %>
	<% end %>
<% end %>