<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

	<nav id="navbar" class="navbar navbar-light bg-faded">
	<!-- To modify with link_to -->
	  <%= link_to "{Codentrepreneur;}", root_path, class: "navbar-brand" %>
	  <ul class="nav navbar-nav pull-xs-right">
	    <li class="nav-item">
	      	<a class="nav-link" href="#">Projets</a>
	    </li>

	    <% if user_signed_in? %>
           	<li class="nav-item btn-group">
		    	<div class="dropdown">
				  <a class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <%= current_user.first_name %>	
				  </a>
				  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Mes projets</a>
				    <a class="dropdown-item" href="#">Mon compte</a>
				    <div class="dropdown-divider"></div>
				    <%= link_to "Déconnexion", destroy_user_session_path, method: "delete", class: "dropdown-item"%>
				  </div>
				</div>
			</li>
	    <% else %>
		    <li class="nav-item">
		    	<%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
		    </li>
		  	<li class="nav-item">
		  		<%= link_to "Inscription", new_user_registration_path, class: "btn btn-outline-success" %>
		  	</li>
		<% end %>
	  </ul>
	</nav>

	<% if notice %>
		<div class="container">
			<div class="alert alert-success" role="alert">
			  <%= notice %>
			</div>
		</div>
	<% end %>

	<% if alert %>
		<div class="container">
			<div class="alert alert-danger" role="alert">
			  <%= alert %>
			</div>
		</div>
	<% end %>

	<%= yield %>		

    <footer>
    	<!-- Put something -->
    </footer>

  </body>

</html>
