<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">

	<nav id="navbar" class="navbar navbar-light bg-faded">
	<!-- To modify with link_to -->
	  <%= link_to "{Codentrepreneur;}", root_path, class: "navbar-brand" %>
	  <ul class="nav navbar-nav pull-xs-right">
	    <li class="nav-item">
	    	<%= link_to "Projets", 	projects_path, class: "nav-link" %>
	    </li>

	    <% if user_signed_in? %>
           	<li class="nav-item btn-group">
		    	<div class="dropdown">
				  <a class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <%= current_user.first_name %>	
				  </a>
				  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
				  	<%= link_to "Mes projets", my_projects_path, class: "dropdown-item" %>
				  	<%= link_to "Mon compte", my_account_path, class: "dropdown-item" %>
				    <div class="dropdown-divider"></div>
				    <%= link_to "Déconnexion", destroy_user_session_path, method: "delete", class: "dropdown-item"%>
				  </div>
				</div>
			</li>
	    <% else %>
		    <li class="nav-item">
		    	<%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
		    </li>
		  	<li class="nav-item">
		  		<%= link_to "Inscription", new_user_registration_path, class: "btn btn-outline-success" %>
		  	</li>
		<% end %>
	  </ul>
	</nav>

	<%= render partial: "common/alerts" %>

	<%= yield %>		

    <footer>
    	<div class="container">
	    	<div class="row">
	    		<div class="col col-md-4 col-xs-12">
	    			<div class="col col-md-6 col-xs-6">
		    			<h5>Navigation</h5>
		    			<%= link_to "Accueil", root_path %><br/>
		    			<%= link_to "Projets", projects_path %><br/>
		    			<% if user_signed_in? %>
		    				<%= link_to "Mon compte", my_account_path %><br/>
		    				<%= link_to "Mes projets", my_projects_path %><br/>
		    			<% else %>
			    			<%= link_to "Connexion", new_user_session_path %><br/>
			    			<%= link_to "Inscription", new_user_registration_path %>
			    		<% end %>
	    			</div>
		    		<div class="col col-md-6 col-xs-6">
		    			<h5>Légal</h5>
		    			<a href="">Politique de confidentialité</a> <br/>
		    			<a href="">CGU</a>
		    		</div>
	    		</div>
	    		<div class="col col-md-4 col-xs-12">
	    			<div class="text-xs-center">
		    			<h5>Suivez-nous sur</h5>
		    			<a href="https://www.facebook.com/codentrepreneur/"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i> </a>&nbsp;
		    			<a href="https://twitter.com/clonestartup/"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i> </a>&nbsp;
		    			<a href=""><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i> </a> <br/><br/>
		    			<p>Des formations gratuites sont à gagner !</p>
		    		</div>
	    		</div>
	    		<div class="col col-md-3 col-md-offset-1 col-xs-12 text-xs-center">
	    			<h5>Contact</h5>
	    				<a href="">lucas@codentrepreneur.fr</a>
	    				<p>Pour une réponse rapide, contactez-nous par <u><a href="">Messenger</a></u></p>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col col-md-12">
	    			<div class="text-xs-center">
	    				<p>Codentrepreneur, 2016. Tous droits réservés</p>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    </footer>

    <%= javascript_include_tag 'navbar.js' %>

  </body>

</html>
