<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">

	<nav id="navbar" class="navbar navbar-light bg-faded">
	<!-- To modify with link_to -->
	  <%= link_to "{Codentrepreneur;}", root_path, class: "navbar-brand" %>
	  <ul class="nav navbar-nav pull-xs-right">
	    <li class="nav-item">
	    	<%= link_to "Projets", 	projects_path, class: "nav-link" %>
	    </li>

	    <% if user_signed_in? %>
           	<li class="nav-item btn-group">
		    	<div class="dropdown">
				  <a class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <%= current_user.first_name %>	
				  </a>
				  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
				  	<%= link_to "Mes projets", my_projects_path, class: "dropdown-item" %>
				  	<%= link_to "Mon compte", my_account_path, class: "dropdown-item" %>
				    <div class="dropdown-divider"></div>
				    <%= link_to "Déconnexion", destroy_user_session_path, method: "delete", class: "dropdown-item"%>
				  </div>
				</div>
			</li>
	    <% else %>
		    <li class="nav-item">
		    	<%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
		    </li>
		  	<li class="nav-item">
		  		<%= link_to "Inscription", new_user_registration_path, class: "btn btn-outline-success" %>
		  	</li>
		<% end %>
	  </ul>
	</nav>

	<%= render partial: "common/alerts" %>

	<%= yield %>		

    <footer>
    	<!-- Put something -->
    </footer>

    <%= javascript_include_tag 'navbar.js' %>

  </body>

</html>
